#list-of-films-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .simple-message {
            display: flex;
            align-items: center;
            height: 100px;
        }

        #get-list-error {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;

            #try-again-button {
                @extend .base-button;
                margin-left: 30px;
            }
        }
    }
}
